In [1]:
import pip
import cv2
import numpy as np
import pandas as pd
import math
import datetime
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
from plotly.offline import plot
import seaborn as sns
from matplotlib import pyplot as plt
plt.style.use('seaborn')

<ipython-input-1-740e41da1a36>:13: MatplotlibDeprecationWarning:

The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.

In [2]:
df=pd.read_csv('./all_metro_employment.csv')
new_df = df[['state','area','time','Total Nonfarm','Mining, Logging and Construction']].copy()
new_df_no = new_df.dropna()
df_nonull = new_df_no.copy()

In [3]:
df_nonull['newdate'] = pd.to_datetime(df_nonull['time'])
df_nonull['month'] = df_nonull['newdate'].dt.month
df_nonull[['time_period', 'Year']] = df_nonull.time.str.split(', ', expand = True)
df_nonull.drop('time_period', axis=1, inplace=True)
df_nonull.drop('newdate', axis=1, inplace=True)
display(df_nonull)

,state,area,time,Total Nonfarm,"Mining, Logging and Construction",month,Year
0,Alabama,Anniston-Oxford-Jacksonville,"jan 1, 2011",48.3,1.0,1,2011
1,Alabama,Anniston-Oxford-Jacksonville,"feb 1, 2011",48.2,0.9,2,2011
2,Alabama,Anniston-Oxford-Jacksonville,"mar 1, 2011",48.6,1.0,3,2011
3,Alabama,Anniston-Oxford-Jacksonville,"apr 1, 2011",48.6,0.9,4,2011
4,Alabama,Anniston-Oxford-Jacksonville,"may 1, 2011",48.6,1.0,5,2011
...,...,...,...,...,...,...,...
57779,Wyoming,Cheyenne,"dec 1, 2020",46.0,3.5,12,2020
57780,Wyoming,Cheyenne,"jan 1, 2021",45.3,3.3,1,2021
57781,Wyoming,Cheyenne,"feb 1, 2021",45.4,3.3,2,2021
57782,Wyoming,Cheyenne,"mar 1, 2021",45.8,3.4,3,2021
57783,Wyoming,Cheyenne,"apr 1, 2021",46.2,3.5,4,2021

In [4]:
fig5 = go.Figure()
data = df_nonull[df_nonull["Year"]< "2021"]
data5=data.groupby(['state', 'area', 'Year']).sum().reset_index()
Houston = data5[data5["area"] =="Bloomington"]

fig5.add_trace(
    go.Line(x=Houston["Year"],y=Houston["Mining, Logging and Construction"]))


fig5.update_layout(
    showlegend=False,
    title={'text': '<b>Total number of Employees in Houston over Years</b>', 'font': {'size': 18}},
    title_x=0.5
)

fig5.update_xaxes(title_text="Years")
fig5.update_yaxes(title_text="Mining, Logging and Construction")


fig5.show()

<ipython-input-4-7b66bf195628>:3: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

/usr/local/lib/python3.10/dist-packages/plotly/graph_objs/_deprecations.py:378: DeprecationWarning:

plotly.graph_objs.Line is deprecated.
Please replace it with one of the following more specific types
  - plotly.graph_objs.scatter.Line
  - plotly.graph_objs.layout.shape.Line
  - etc.

In [5]:
test= df_nonull.copy()
test[['time_period', 'Year']] = test.time.str.split(', ', expand = True)
test[['month', 'day']]= test.time_period.str.split(' ', expand=True)
test.drop('time_period', axis=1, inplace=True)
display(test)

,state,area,time,Total Nonfarm,"Mining, Logging and Construction",month,Year,day
0,Alabama,Anniston-Oxford-Jacksonville,"jan 1, 2011",48.3,1.0,jan,2011,1
1,Alabama,Anniston-Oxford-Jacksonville,"feb 1, 2011",48.2,0.9,feb,2011,1
2,Alabama,Anniston-Oxford-Jacksonville,"mar 1, 2011",48.6,1.0,mar,2011,1
3,Alabama,Anniston-Oxford-Jacksonville,"apr 1, 2011",48.6,0.9,apr,2011,1
4,Alabama,Anniston-Oxford-Jacksonville,"may 1, 2011",48.6,1.0,may,2011,1
...,...,...,...,...,...,...,...,...
57779,Wyoming,Cheyenne,"dec 1, 2020",46.0,3.5,dec,2020,1
57780,Wyoming,Cheyenne,"jan 1, 2021",45.3,3.3,jan,2021,1
57781,Wyoming,Cheyenne,"feb 1, 2021",45.4,3.3,feb,2021,1
57782,Wyoming,Cheyenne,"mar 1, 2021",45.8,3.4,mar,2021,1
57783,Wyoming,Cheyenne,"apr 1, 2021",46.2,3.5,apr,2021,1